Other Projects/ManualDeploymentCheck/ManualDeploymentCheck/Service References/CherwellWCF/CherwellWCF2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CherwellWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CherwellWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfChange">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Change" nillable="true" type="tns:Change" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChange" nillable="true" type="tns:ArrayOfChange" />
  <xs:complexType name="Change">
    <xs:sequence>
      <xs:element minOccurs="0" name="AcceptanceCriteria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ActualCost" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ActualEndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ApprovalBlockId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApprovalCommentTemp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApprovalIDTemp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApprovedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApprovedByID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApprovedDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ArchitectApproval" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AuthDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AuthorizationLevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BackOutPlan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BuildApprovalDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="BuildApprovalStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CABApprovalBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CABApprovalDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CABApprovalDone" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="CABApprovalNeeded" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="CABApprovalStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CABApproved" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="CABReviewBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CABReviewDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CABReviewDone" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="CCBExceptionEmergencySent" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="CICalendarName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChangeCriticality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChangeDuration" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ChangeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChangeType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChgCritical" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ChgFastTrack" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ChgNotDuringMaintenanceWindow" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ChgRequiresServiceOutage" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ClientAffected" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cost" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CostBenefitAnalysis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CostComplete" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedByID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CurrentVersion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerImpacted" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevImplementationResource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevManagers" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevMgtApprovalDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DevMgtApprovalStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DirApprovalDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DirApprovalStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DirectorNotificationSent" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="DurationInDays" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EmergencyChange" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ExecApprovalDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ExecApprovalNeeded" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ExecApprovalStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExecOverridden" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="FeasibilityAssessment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FinalDisposition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FinancialReviewer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GlobalIssue" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="HasChangeBeenTested" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Impact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImpactAssesment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KnownError" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastModBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastModByID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastModDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastModTimeStamp" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="LibraryControlSheetCount" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LinkedID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ManagerEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ManagerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ManagerRecID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MgtApprovalDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="MgtApprovalStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NecessityAssessment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperationsImpact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnedByEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnedByTeam" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnerID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnerTeamID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PercentComplete" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostChangeTestPlan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostImplementationReviewNotes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryCIDisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryCIRecID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Priority" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProposedStartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="QAReviewer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RallyNumbers" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RejectionReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestedByID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestedByManager" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestedByType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestedDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ResourceAssesment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReviewDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Risk" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RiskApplication" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RiskApplicationScore" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RiskBackout" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RiskBackoutScore" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RiskCompletedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RiskCompletedDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RiskExternalImpact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RiskExternalImpactScore" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RiskIcon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RiskInstallation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RiskInstallationScore" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RiskInternalImpact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RiskInternalImpactScore" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RiskNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RiskTesting" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RiskTestingScore" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RiskText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RiskTimeOfDay" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RiskTimeOfDayScore" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RiskTotalScore" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="RollOutPlan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScheduledEndDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SecurityImpact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecurityReviewer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SelfServiceEmergency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Service" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceCalendarName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceCatalogID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Serviceblackoutend" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Serviceblackoutstart" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ShowApprovalTabs" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ShowAttachedItemsTab" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ShowDetailsTabs" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusHasChanged" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="SupportReviewer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SystemImpacted" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TabVisibility" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaskManagerNumbers" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TeamApprovalDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TeamApprovalStatus" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TechnicalAnalysisComplete" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="TechnicalReviewer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tested" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="TimeNeedToCompleteTesting" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TimeNeededToExecuteBackOut" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalChangeTimeNeededIncludingTestingAndBackoutPath" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Urgency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VisableToSelfService" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="WorkAroundExists" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Change" nillable="true" type="tns:Change" />
</xs:schema>